<section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="text-center">Characteristics</h1>
                <div class="row row-grid justify-content-center">
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="tim-icons icon-money-coins"> </i>
                            </div>
                            <h4 class="info-title">Reliability</h4>
                            <hr class="line-primary" />

                            <p>
                                Projects are always successfully completed on time and within budget.
                                We provide cost saving option whenever possible.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="tim-icons icon-chart-pie-36"> </i>
                            </div>
                            <h4 class="info-title">Expertise</h4>
                            <hr class="line-warning" />

                            <p>
                                We have extensive experience in renovating buildings with occupants and sensitive items
                                with minimal disruption in specialized attention to health and safety.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="tim-icons icon-single-02"> </i>
                            </div>
                            <h4 class="info-title">Responsiveness</h4>
                            <hr class="line-success" />

                            <p>
                                We collaborate closely with all projects stakeholders in the decision making process,
                                are flexible, quickly implement innovative solutions to complex issues and provide
                                regular
                                updates to ensure success.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row-grid justify-content-center">
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="tim-icons icon-money-coins"> </i>
                            </div>
                            <h4 class="info-title">Environmental Sustainability</h4>
                            <hr class="line-primary" />
                            <p>
                                We are committed to utilizing green, energy efficient and renewable materials to
                                conserve resources,
                                reduce waste and carbon footprint.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="tim-icons icon-chart-pie-36"> </i>
                            </div>
                            <h4 class="info-title">Community</h4>
                            <hr class="line-warning" />

                            <p>
                                We are dedicated to help remodeling/building superior affordable properties to
                                revitalize
                                and strengthen communities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>