<section class="section section-lg">
    <section class="section">
        <img class="path" src="assets/img/path4.png" />

        <div class="container">
            <div class="row row-grid justify-content-between">
                <div class="col-lg-12 col-md-12 mt-lg-5">
                    <div class="row">
                        <div class="card card-coin card-plain">
                            <div class="card-header">
                                <img class="img-center img-fluid rounded-circle" src="assets/img/mike.jpg" />
                                <h4 class="title">Jorge W. Liza && Giannina</h4>
                            </div>
                            <div class="card-body">
                                <p class="profile-description">
                                    Jorge W. Liza, President and Chairman of the Board of Blue Crew Contractors,
                                    has been at the forefront of South Florida’s construction for over 13 years. A
                                    commitment to building better cities.
                                    First arriving in Miami Florida June of 2001. “This city was beautiful, It felt like
                                    home so I
                                    decided to stay and grow here”. Mr. Liza had several jobs from Technitian to Project
                                    Executive in his familie’s construction business.
                                    Coming from a family of Builders “ I learned the value of a happy client”.
                                    On 2007, the dream started and rapidly became a strong company in the industry.
                                    Over the years, Liza and Blue Crew have partnered with great architects and interior
                                    designers to make the company stronger
                                    and improve the construction environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>